:root {
    --body-background: linear-gradient(180deg, #8257E5 0%, #271A45 100%);
    --white: #ffffff; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--body-background);
    height: 100vh;
    width: 100vw;

    display: grid;
    place-items: center;

    font-family: "Rubik";
}

#app {
    height: 656px;
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px ;

}

#title-items {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
}

.container-ticket {
    background-color: var(--white);
    height: 544px;
    width: 327px;
    border-radius: 24px;
    padding: 0 32px;
}

p {
    font-size: 14px;
    font-weight: 400;
}

.container-header {
    display: grid;
    padding: 24px 0;
    gap: 24px;
    
}

.header {
    display: flex;
    justify-content: space-between;
}

.container-header-last {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.container-locale {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-locale h1 {
    font-size: 40px;
    font-weight: 500;
}

.container-locale h3 {
    font-weight: 400;
    font-size: 16px;
}

.container-locale-last {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.container-time-zone{
    display: flex;
}

.container-time-zone span{
    font-weight: 500;
    font-size: 10px;
}

.container-number-time-zone {
    display: flex;
    align-items: flex-start;
}

.container-info {
    display: grid;
    padding: 24px 0;
    gap: 24px;
}

.container-info-items {
    display: flex;
    justify-content: space-between;
}

.container-info-items h2 {
    font-weight: 500;
    font-size: 16px;
}


#footer-items {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    opacity: 0.64;
}