:root {
    --body-background: linear-gradient(180deg, #8257E5 0%, #271A45 100%);
    --white: #ffffff; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: var(--body-background);
    height: 100vh;
    width: 100vw;

    display: grid;
    place-items: center;

    font-family: "Rubik";
}

#app {
    height: 656px;
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px ;

}

#title-items {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
}

.container-ticket {
    background-color: var(--white);
    height: 600px;
    width: 327px;
    border-radius: 24px;
}

p {
    font-size: 14px;
    font-weight: 400;
}

.top {
    padding: 0 32px;
    border-bottom: 1px dashed var(--body-background);
    border-radius: 2.4rem 2.4rem 0 0;
    gap: 2.4rem;
  
    --mask: radial-gradient(1.2rem at 1.2rem bottom, #0000 93%, black) -1.2rem;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
}

.container-header {
    display: grid;
    padding: 24px 0;
    gap: 24px;
    
}

.header {
    display: flex;
    justify-content: space-between;
}

.header strong {
    font-size: 16px;
    font-weight: 600;
}

.container-header-last {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.container-locale {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-locale h1 {
    font-size: 40px;
    font-weight: 500;
}

.container-locale h3 {
    font-weight: 400;
    font-size: 16px;
}

.container-locale-last {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.container-time-zone{
    display: flex;
}

.container-time-zone span{
    font-weight: 500;
    font-size: 10px;
}

.container-number-time-zone {
    display: flex;
    align-items: flex-start;
}

.divider {
    height: 1px;
    display: flex;
    justify-content: center;
}

.divider img {
    width: max-content;
}

.middle {
    padding: 0 32px;
    border: 1px dashed rgba(0, 0, 0, 0.32);
    border-left: 0;
    border-right: 0;
  
    --mask: radial-gradient(1.2rem at 1.2rem 1.2rem, #0000 93%, black) -1.2rem -1.2rem;


}

.balls-one {
    height: 25px;
    width: 25px;
    background: #613eb3;
    border-radius: 50px;
    position: absolute;
    left: 49rem;
    top: 22.8rem;
}
.balls-two {
    height: 25px;
    width: 25px;
    background: #54359c;
    border-radius: 50px;
    position: absolute;
    left: 49rem;
    top: 28.1rem;
}
.balls-three {
    height: 25px;
    width: 25px;
    background: #623fb4;
    border-radius: 50px;
    position: absolute;
    right: 49rem;
    top: 22.8rem;
}
.balls-four {
    height: 25px;
    width: 25px;
    background: #54359c;
    border-radius: 50px;
    position: absolute;
    right: 49rem;
    top: 28.1rem;
}
.container-info {
    display: grid;
    padding: 24px 0;
    gap: 24px;
}

.container-info-items {
    display: flex;
    justify-content: space-between;
}

.container-info-items h2 {
    font-weight: 500;
    font-size: 16px;
}

.bottom {
    padding: 0 32px;

}

.container-details {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    width: 263px;
    height: 225px;
}

.left-items {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 6px 0;
}

.hour {
    background: #633BBC;
    border-radius: 8px;
    color: var(--white);
    text-align: center;
    padding: 4px;
}

.right-items {
    text-align: center;
    height: max-content;

}

.container-warning {
    text-align: center;
}


#footer-items {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    opacity: 0.64;
}

@media (max-width: 720px) {
    .top {
        border-radius: 20px;
    }
}